# Análise de dados do enem 2016

*Instalando a biblioteca pandera*

In [ ]:
#pip install pandera

In [ ]:
import pandas as pd
import pandera as pa

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/train.csv')

*visualizando as colunas do dataframe*

In [ ]:
df.columns.values

array(['Unnamed: 0', 'NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_SABATISTA',
       'IN_GESTANTE', 'IN_LACTANTE', 'IN_IDOSO',
       'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_SEM_RECURSO', 'IN_BRAILLE',
       'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR', 'IN_ACESSO',
       'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL',
       'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA',
       'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_MACA', 'IN_COMPUTADOR',
       'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO',
       'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030',
       'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046',
       'Q047', 'Q048', 'Q049', 'Q050'], dtype=object)

*Como não pretendo trabalhar com todos as colunas, farei uma seleção das colunas de meu interesse*

In [ ]:
colunas_selecionadas = ['NU_INSCRICAO', 'NU_ANO',
       'NO_MUNICIPIO_RESIDENCIA','SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'IN_GESTANTE','NO_MUNICIPIO_PROVA', 'SG_UF_PROVA',
       'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'NU_NOTA_REDACAO', 'Q001', 'Q002']

*Criando um dataframe com as colunas selecionadas*

In [ ]:
df_enem = df.filter(items=colunas_selecionadas)

*Renomeando as colunas para melhorar a legibilidade*

In [ ]:
df_enem.rename(columns={'NU_INSCRICAO':'inscricao', 'NU_ANO':'ano',
       'NO_MUNICIPIO_RESIDENCIA':'municipio_residencia','SG_UF_RESIDENCIA':'uf_residencia',
       'NU_IDADE':'idade', 'TP_SEXO':'sexo', 'TP_ESTADO_CIVIL':'estado_civil', 'TP_COR_RACA':'raca',
       'IN_GESTANTE':'gestante',
       'NO_MUNICIPIO_PROVA':'municipio_prova', 'SG_UF_PROVA':'uf_prova',
       'NU_NOTA_CN':'nota_ciencias_da_naturaza', 'NU_NOTA_CH':'nota_ciencias_humanas', 'NU_NOTA_LC':'nota_linguagens_e_codigos',
       'NU_NOTA_MT':'nota_matematica','NU_NOTA_REDACAO':'nota_redacao', 'Q001':'questionario_pai', 
       'Q002':'questionario_mae'}, inplace=True)

*Visualizando o tipo de cada coluna*

In [ ]:
df_enem.dtypes

inscricao                     object
ano                            int64
municipio_residencia          object
uf_residencia                 object
idade                          int64
sexo                          object
estado_civil                 float64
raca                           int64
gestante                       int64
municipio_prova               object
uf_prova                      object
nota_ciencias_da_naturaza    float64
nota_ciencias_humanas        float64
nota_linguagens_e_codigos    float64
nota_matematica              float64
nota_redacao                 float64
questionario_pai              object
questionario_mae              object
dtype: object

*Podemos observar que a coluna raca, gestante e estado_civil tem seus valores representado por numeros inteiro, inteiro e float respectivamente. Se quisermos conferir o que cada um representa teriamos que analizamos o dicionário de dados. Então vou criar uma melhor representação desses valores e das outras colunas semelhantes como questionario_pai e questionario_mae*

In [ ]:
df_enem.head(5)

                                  inscricao  ...  questionario_mae
0  ed50e8aaa58e7a806c337585efee9ca41f1eb1ad  ...                 D
1  2c3acac4b33ec2b195d77e7c04a2d75727fad723  ...                 A
2  f4545f8ccb9ff5c8aad7d32951b3f251a26e6568  ...                 D
3  3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe  ...                 E
4  bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268  ...                 D

[5 rows x 18 columns]

*Dicionário para alterar o valor da coluna raca*

In [ ]:
dict_raca = {
    0:'Não declarado',
    1:'Branca',
    2:'Preta',
    3:'Parda',
    4:'Amarela',
    5:'Indígina'
}

*Alterando os valores da coluna raca*

In [ ]:
df_enem.raca = [dict_raca[rc] for rc in df_enem.raca]

*Dicionário para alterar o valor da coluna gestante*

In [ ]:
dict_gestante = {
    1:'Sim',
    0:'Não',
}

*Alterando os valores da coluna gestante*

In [ ]:
df_enem.gestante = [dict_gestante[gest] for gest in df_enem.gestante]

Criando dicionário para alterar os valores da coluna estado_civil

In [ ]:
dict_estado_civil = {
    0.0:'Não informado',
    1.0:'Solteiro(a)',
    2.0:'Casado(a)/Mora com companheiro(a)',
    3.0:'Divorciado(a)/Desquitado(a)/Separado(a)',
    4.0:'Viúvo(a)',
}

*Preenchendo os valores NAN da coluna estado_civil com 0 para que a iteração seja possivel*

In [ ]:
df_enem.estado_civil.fillna(0,inplace=True)

*Alterando os valores da coluna estado_civil*

In [ ]:
df_enem.estado_civil = [dict_estado_civil[estado] for estado in df_enem.estado_civil]

*Validando as colunas*

In [ ]:
schema = pa.DataFrameSchema(
    columns = {
        'inscricao': pa.Column(pa.String),
        'ano': pa.Column(pa.Int),
        'municipio_residencia':pa.Column(pa.String),
        'uf_residencia': pa.Column(pa.String),
        'idade': pa.Column(pa.Int),                     
        'sexo':pa.Column(pa.String),            
        'estado_civil':pa.Column(pa.String),              
        'raca':pa.Column(pa.String),                      
        'gestante':pa.Column(pa.String),                  
        'municipio_prova':pa.Column(pa.String),           
        'uf_prova':pa.Column(pa.String),                  
        'nota_ciencias_da_naturaza':pa.Column(pa.String), 
        'nota_ciencias_humanas':pa.Column(pa.String),      
        'nota_linguagens_e_codigos':pa.Column(pa.String),  
        'nota_matematica':pa.Column(pa.String),            
        'nota_redacao':pa.Column(pa.String),               
        'questionario_pai':pa.Column(pa.String),           
        'questionario_mae':pa.Column(pa.String),           

    }
)

*Criando um dicionario para alterar os valores das colunas questionario_pai e questionario_mae, também melhorará a legibilidade*

In [ ]:
questionario = {
    'A':'Nunca estudou',
    'B':'Não completou a 4ª série/5º ano do Ensino Fundamental.',
    'C':'Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.',
    'D':'Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.',
    'E':'Completou o Ensino Médio, mas não completou a Faculdade.',
    'F':'Completou a Faculdade, mas não completou a Pós-graduação.',
    'G':'Completou a Pós-graduação.',
    'H':'Não sei.',
}

*Iterando sobre a coluna questionario_mae, capturando os valores do dicionario questionario e armazenando na coluna questionario_mae*

In [ ]:
df_enem.questionario_mae = [questionario[resp] for resp in df_enem.questionario_mae]

*Iterando sobre a coluna questionario_pai, capturando os valores do dicionario questionario e armazenando na coluna questionario_pai*

In [ ]:
df_enem['questionario_pai'] = [questionario[resp] for resp in df_enem.questionario_pai]

*Agora temos a seguinte representação*

In [ ]:
df_enem['questionario_mae']

0        Completou a 8ª série/9º ano do Ensino Fundamen...
1                                            Nunca estudou
2        Completou a 8ª série/9º ano do Ensino Fundamen...
3        Completou o Ensino Médio, mas não completou a ...
4        Completou a 8ª série/9º ano do Ensino Fundamen...
                               ...
13725    Completou o Ensino Médio, mas não completou a ...
13726                                        Nunca estudou
13727                           Completou a Pós-graduação.
13728    Completou a 8ª série/9º ano do Ensino Fundamen...
13729    Completou a 8ª série/9º ano do Ensino Fundamen...
Name: questionario_mae, Length: 13730, dtype: object

Substituindo todos os valores NaN do dataframe por 0

In [ ]:
df_enem.fillna(0, inplace=True)

In [ ]:
df_enem.dtypes

inscricao                     object
ano                            int64
municipio_residencia          object
uf_residencia                 object
idade                          int64
sexo                          object
estado_civil                  object
raca                          object
gestante                      object
municipio_prova               object
uf_prova                      object
nota_ciencias_da_naturaza    float64
nota_ciencias_humanas        float64
nota_linguagens_e_codigos    float64
nota_matematica              float64
nota_redacao                 float64
questionario_pai              object
questionario_mae              object
dtype: object

Savando o dataframe já transformado como microdados_enem.csv

In [ ]:
df_enem.to_csv('microdados_enem.csv')

# A partir de agora será usado pyspark para a manipulação dos dados

In [ ]:
#pip install spark pyspark

In [3]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

In [4]:
rdd_enem = spark.read.csv('/content/drive/MyDrive/Datasets/microdados_enem.csv', header=True)

In [5]:
rdd_enem.show()

+---+--------------------+----+--------------------+-------------+-----+----+-------------+-------------+--------+--------------------+--------+-------------------------+---------------------+-------------------------+---------------+------------+--------------------+--------------------+
|_c0|           inscricao| ano|municipio_residencia|uf_residencia|idade|sexo| estado_civil|         raca|gestante|     municipio_prova|uf_prova|nota_ciencias_da_naturaza|nota_ciencias_humanas|nota_linguagens_e_codigos|nota_matematica|nota_redacao|    questionario_pai|    questionario_mae|
+---+--------------------+----+--------------------+-------------+-----+----+-------------+-------------+--------+--------------------+--------+-------------------------+---------------------+-------------------------+---------------+------------+--------------------+--------------------+
|  0|ed50e8aaa58e7a806...|2016|        Porto Alegre|           RS|   24|   M|Não informado|       Branca|     Não|        Porto Alegre|      RS|                    436.3|                495.4|                    581.2|          399.4|       520.0|Completou a 8ª sé...|Completou a 8ª sé...|
|  1|2c3acac4b33ec2b19...|2016|              Granja|           CE|   17|   F|Não informado|        Parda|     Não|              Granja|      CE|                    474.5|                544.1|                    599.0|          459.8|       580.0|       Nunca estudou|       Nunca estudou|
|  2|f4545f8ccb9ff5c8a...|2016|           Fortaleza|           CE|   21|   F|Não informado|        Parda|     Não|           Fortaleza|      CE|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou a 8ª sé...|Completou a 8ª sé...|
|  3|3d6ec248fef899c41...|2016|      Rio de Janeiro|           RJ|   25|   F|Não informado|Não declarado|     Não|      Rio de Janeiro|      RJ|                      0.0|                  0.0|                      0.0|            0.0|         0.0|            Não sei.|Completou o Ensin...|
|  4|bf896ac8d3ecadd6d...|2016|              Manaus|           AM|   28|   M|Não informado|        Preta|     Não|              Manaus|      AM|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou o Ensin...|Completou a 8ª sé...|
|  5|a37c99ec251d4f6e8...|2016|             Aracatu|           BA|   18|   F|Não informado|       Branca|     Não|             Brumado|      BA|                    439.7|                583.2|                    410.9|          364.5|       620.0|Completou o Ensin...|Completou o Ensin...|
|  6|63b4e128e9ffe8ab2...|2016|Campo Novo do Par...|           MT|   18|   F|Não informado|        Parda|     Não|Campo Novo do Par...|      MT|                    420.1|                604.2|                    484.5|          529.2|       560.0|Completou o Ensin...|Completou a 8ª sé...|
|  7|2eb189d4912f64b19...|2016|                Bagé|           RS|   18|   F|Não informado|       Branca|     Não|           São Paulo|      SP|                    619.6|                625.8|                    611.2|          566.7|       620.0|Completou a Pós-g...|Completou a Facul...|
|  8|5822cb43e0800429b...|2016|            Bezerros|           PE|   16|   F|Não informado|        Parda|     Não|            Bezerros|      PE|                    500.5|                555.2|                    521.8|          372.4|       680.0|            Não sei.|Completou o Ensin...|
|  9|94f7e277f87cd58e1...|2016|        Pouso Alegre|           MG|   24|   M|Não informado|      Amarela|     Não|        Pouso Alegre|      MG|                      0.0|                  0.0|                      0.0|            0.0|         0.0|            Não sei.|Completou o Ensin...|
| 10|3c44449ad09dc6a72...|2016|              Caetés|           PE|   29|   F|Não informado|        Parda|     Não|              Caetés|      PE|                    413.4|                407.9|                    533.9|          419.6|       520.0|       Nunca estudou|Não completou a 4...|
| 11|6f721ecb245bd74ea...|2016|            São Luís|           MA|   17|   F|Não informado|        Parda|     Não|      Paço do Lumiar|      MA|                    503.4|                509.6|                    490.1|          369.9|       580.0|Completou a 8ª sé...|Completou o Ensin...|
| 12|70b1dacb515d1aece...|2016|        Porto Alegre|           RS|   27|   M|Não informado|        Parda|     Não|        Porto Alegre|      RS|                    402.6|                556.9|                    599.0|          464.2|       360.0|Não completou a 4...|Completou o Ensin...|
| 13|8570b9be0b2b629d0...|2016|           Fortaleza|           CE|   19|   F|Não informado|        Parda|     Não|           Fortaleza|      CE|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou a 8ª sé...|Completou a 8ª sé...|
| 14|67a173ad63a2a3f77...|2016|    Caiçara do Norte|           RN|   18|   M|Não informado|        Parda|     Não|         João Câmara|      RN|                    477.8|                462.9|                    511.9|          453.4|       360.0|Não completou a 4...|       Nunca estudou|
| 15|4e17008781ab3d721...|2016|        Campo Grande|           MS|   18|   F|Não informado|        Parda|     Não|        Campo Grande|      MS|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou a 8ª sé...|Completou a 8ª sé...|
| 16|6118b53a6c928609d...|2016|   Francisco Beltrão|           PR|   16|   M|Não informado|       Branca|     Não|            Cascavel|      PR|                    561.8|                640.8|                    596.5|          480.4|       720.0|Completou a Facul...|Completou a Pós-g...|
| 17|036bce628d802e0da...|2016|             Bacabal|           MA|   24|   F|Não informado|        Preta|     Não|             Bacabal|      MA|                    474.4|                540.0|                    517.4|          402.4|       460.0|       Nunca estudou|       Nunca estudou|
| 18|e2550a9dbfe4dfa31...|2016|            Bragança|           PA|   20|   M|Não informado|        Parda|     Não|            Bragança|      PA|                    395.5|                425.2|                    569.5|          475.8|       520.0|Completou a 8ª sé...|Completou a 4ª sé...|
| 19|fa8d39d295f07f351...|2016|            Ipatinga|           MG|   21|   F|  Solteiro(a)|        Parda|     Não|            Ipatinga|      MG|                    393.3|                429.6|                      0.0|            0.0|         0.0|Não completou a 4...|Completou a Pós-g...|
+---+--------------------+----+--------------------+-------------+-----+----+-------------+-------------+--------+--------------------+--------+-------------------------+---------------------+-------------------------+---------------+------------+--------------------+--------------------+
only showing top 20 rows

*Obtendo uma lista com os 10 primeiros registros com a função take*

In [6]:
rdd_enem.take(10)

[Row(_c0='0', inscricao='ed50e8aaa58e7a806c337585efee9ca41f1eb1ad', ano='2016', municipio_residencia='Porto Alegre', uf_residencia='RS', idade='24', sexo='M', estado_civil='Não informado', raca='Branca', gestante='Não', municipio_prova='Porto Alegre', uf_prova='RS', nota_ciencias_da_naturaza='436.3', nota_ciencias_humanas='495.4', nota_linguagens_e_codigos='581.2', nota_matematica='399.4', nota_redacao='520.0', questionario_pai='Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.', questionario_mae='Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.'),
 Row(_c0='1', inscricao='2c3acac4b33ec2b195d77e7c04a2d75727fad723', ano='2016', municipio_residencia='Granja', uf_residencia='CE', idade='17', sexo='F', estado_civil='Não informado', raca='Parda', gestante='Não', municipio_prova='Granja', uf_prova='CE', nota_ciencias_da_naturaza='474.5', nota_ciencias_humanas='544.1', nota_linguagens_e_codigos='599.0', nota_matematica='459.8', nota_redacao='580.0', questionario_pai='Nunca estudou', questionario_mae='Nunca estudou'),
 Row(_c0='2', inscricao='f4545f8ccb9ff5c8aad7d32951b3f251a26e6568', ano='2016', municipio_residencia='Fortaleza', uf_residencia='CE', idade='21', sexo='F', estado_civil='Não informado', raca='Parda', gestante='Não', municipio_prova='Fortaleza', uf_prova='CE', nota_ciencias_da_naturaza='0.0', nota_ciencias_humanas='0.0', nota_linguagens_e_codigos='0.0', nota_matematica='0.0', nota_redacao='0.0', questionario_pai='Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.', questionario_mae='Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.'),
 Row(_c0='3', inscricao='3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe', ano='2016', municipio_residencia='Rio de Janeiro', uf_residencia='RJ', idade='25', sexo='F', estado_civil='Não informado', raca='Não declarado', gestante='Não', municipio_prova='Rio de Janeiro', uf_prova='RJ', nota_ciencias_da_naturaza='0.0', nota_ciencias_humanas='0.0', nota_linguagens_e_codigos='0.0', nota_matematica='0.0', nota_redacao='0.0', questionario_pai='Não sei.', questionario_mae='Completou o Ensino Médio, mas não completou a Faculdade.'),
 Row(_c0='4', inscricao='bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268', ano='2016', municipio_residencia='Manaus', uf_residencia='AM', idade='28', sexo='M', estado_civil='Não informado', raca='Preta', gestante='Não', municipio_prova='Manaus', uf_prova='AM', nota_ciencias_da_naturaza='0.0', nota_ciencias_humanas='0.0', nota_linguagens_e_codigos='0.0', nota_matematica='0.0', nota_redacao='0.0', questionario_pai='Completou o Ensino Médio, mas não completou a Faculdade.', questionario_mae='Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.'),
 Row(_c0='5', inscricao='a37c99ec251d4f6e8ddbeabadf1c87fdbfddc4d1', ano='2016', municipio_residencia='Aracatu', uf_residencia='BA', idade='18', sexo='F', estado_civil='Não informado', raca='Branca', gestante='Não', municipio_prova='Brumado', uf_prova='BA', nota_ciencias_da_naturaza='439.7', nota_ciencias_humanas='583.2', nota_linguagens_e_codigos='410.9', nota_matematica='364.5', nota_redacao='620.0', questionario_pai='Completou o Ensino Médio, mas não completou a Faculdade.', questionario_mae='Completou o Ensino Médio, mas não completou a Faculdade.'),
 Row(_c0='6', inscricao='63b4e128e9ffe8ab27f5d093db1976ef4f353e0a', ano='2016', municipio_residencia='Campo Novo do Parecis', uf_residencia='MT', idade='18', sexo='F', estado_civil='Não informado', raca='Parda', gestante='Não', municipio_prova='Campo Novo do Parecis', uf_prova='MT', nota_ciencias_da_naturaza='420.1', nota_ciencias_humanas='604.2', nota_linguagens_e_codigos='484.5', nota_matematica='529.2', nota_redacao='560.0', questionario_pai='Completou o Ensino Médio, mas não completou a Faculdade.', questionario_mae='Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.'),
 Row(_c0='7', inscricao='2eb189d4912f64b19d1967e8e84b6141aba18770', ano='2016', municipio_residencia='Bagé', uf_residencia='RS', idade='18', sexo='F', estado_civil='Não informado', raca='Branca', gestante='Não', municipio_prova='São Paulo', uf_prova='SP', nota_ciencias_da_naturaza='619.6', nota_ciencias_humanas='625.8', nota_linguagens_e_codigos='611.2', nota_matematica='566.7', nota_redacao='620.0', questionario_pai='Completou a Pós-graduação.', questionario_mae='Completou a Faculdade, mas não completou a Pós-graduação.'),
 Row(_c0='8', inscricao='5822cb43e0800429be2084b3f86a63aaa73fa66c', ano='2016', municipio_residencia='Bezerros', uf_residencia='PE', idade='16', sexo='F', estado_civil='Não informado', raca='Parda', gestante='Não', municipio_prova='Bezerros', uf_prova='PE', nota_ciencias_da_naturaza='500.5', nota_ciencias_humanas='555.2', nota_linguagens_e_codigos='521.8', nota_matematica='372.4', nota_redacao='680.0', questionario_pai='Não sei.', questionario_mae='Completou o Ensino Médio, mas não completou a Faculdade.'),
 Row(_c0='9', inscricao='94f7e277f87cd58e10a45da4ad5dd168651cf3ef', ano='2016', municipio_residencia='Pouso Alegre', uf_residencia='MG', idade='24', sexo='M', estado_civil='Não informado', raca='Amarela', gestante='Não', municipio_prova='Pouso Alegre', uf_prova='MG', nota_ciencias_da_naturaza='0.0', nota_ciencias_humanas='0.0', nota_linguagens_e_codigos='0.0', nota_matematica='0.0', nota_redacao='0.0', questionario_pai='Não sei.', questionario_mae='Completou o Ensino Médio, mas não completou a Faculdade.')]

*Visualizando as colunas e o tipo da coluna*

In [7]:
rdd_enem.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- inscricao: string (nullable = true)
 |-- ano: string (nullable = true)
 |-- municipio_residencia: string (nullable = true)
 |-- uf_residencia: string (nullable = true)
 |-- idade: string (nullable = true)
 |-- sexo: string (nullable = true)
 |-- estado_civil: string (nullable = true)
 |-- raca: string (nullable = true)
 |-- gestante: string (nullable = true)
 |-- municipio_prova: string (nullable = true)
 |-- uf_prova: string (nullable = true)
 |-- nota_ciencias_da_naturaza: string (nullable = true)
 |-- nota_ciencias_humanas: string (nullable = true)
 |-- nota_linguagens_e_codigos: string (nullable = true)
 |-- nota_matematica: string (nullable = true)
 |-- nota_redacao: string (nullable = true)
 |-- questionario_pai: string (nullable = true)
 |-- questionario_mae: string (nullable = true)

*Selecionando uma coluna específica*

In [8]:
rdd_enem.select('municipio_residencia').show()

+--------------------+
|municipio_residencia|
+--------------------+
|        Porto Alegre|
|              Granja|
|           Fortaleza|
|      Rio de Janeiro|
|              Manaus|
|             Aracatu|
|Campo Novo do Par...|
|                Bagé|
|            Bezerros|
|        Pouso Alegre|
|              Caetés|
|            São Luís|
|        Porto Alegre|
|           Fortaleza|
|    Caiçara do Norte|
|        Campo Grande|
|   Francisco Beltrão|
|             Bacabal|
|            Bragança|
|            Ipatinga|
+--------------------+
only showing top 20 rows

*Quantidade de município onde as provas foram realizadas*

In [9]:
rdd_enem.select('municipio_prova').distinct().count()

1489

*Criando uma tabela temporária para manipulação dos dados*

In [10]:
rdd_enem.createOrReplaceTempView('temp_microdados_enem')
spark.read.table("temp_microdados_enem").show()

+---+--------------------+----+--------------------+-------------+-----+----+-------------+-------------+--------+--------------------+--------+-------------------------+---------------------+-------------------------+---------------+------------+--------------------+--------------------+
|_c0|           inscricao| ano|municipio_residencia|uf_residencia|idade|sexo| estado_civil|         raca|gestante|     municipio_prova|uf_prova|nota_ciencias_da_naturaza|nota_ciencias_humanas|nota_linguagens_e_codigos|nota_matematica|nota_redacao|    questionario_pai|    questionario_mae|
+---+--------------------+----+--------------------+-------------+-----+----+-------------+-------------+--------+--------------------+--------+-------------------------+---------------------+-------------------------+---------------+------------+--------------------+--------------------+
|  0|ed50e8aaa58e7a806...|2016|        Porto Alegre|           RS|   24|   M|Não informado|       Branca|     Não|        Porto Alegre|      RS|                    436.3|                495.4|                    581.2|          399.4|       520.0|Completou a 8ª sé...|Completou a 8ª sé...|
|  1|2c3acac4b33ec2b19...|2016|              Granja|           CE|   17|   F|Não informado|        Parda|     Não|              Granja|      CE|                    474.5|                544.1|                    599.0|          459.8|       580.0|       Nunca estudou|       Nunca estudou|
|  2|f4545f8ccb9ff5c8a...|2016|           Fortaleza|           CE|   21|   F|Não informado|        Parda|     Não|           Fortaleza|      CE|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou a 8ª sé...|Completou a 8ª sé...|
|  3|3d6ec248fef899c41...|2016|      Rio de Janeiro|           RJ|   25|   F|Não informado|Não declarado|     Não|      Rio de Janeiro|      RJ|                      0.0|                  0.0|                      0.0|            0.0|         0.0|            Não sei.|Completou o Ensin...|
|  4|bf896ac8d3ecadd6d...|2016|              Manaus|           AM|   28|   M|Não informado|        Preta|     Não|              Manaus|      AM|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou o Ensin...|Completou a 8ª sé...|
|  5|a37c99ec251d4f6e8...|2016|             Aracatu|           BA|   18|   F|Não informado|       Branca|     Não|             Brumado|      BA|                    439.7|                583.2|                    410.9|          364.5|       620.0|Completou o Ensin...|Completou o Ensin...|
|  6|63b4e128e9ffe8ab2...|2016|Campo Novo do Par...|           MT|   18|   F|Não informado|        Parda|     Não|Campo Novo do Par...|      MT|                    420.1|                604.2|                    484.5|          529.2|       560.0|Completou o Ensin...|Completou a 8ª sé...|
|  7|2eb189d4912f64b19...|2016|                Bagé|           RS|   18|   F|Não informado|       Branca|     Não|           São Paulo|      SP|                    619.6|                625.8|                    611.2|          566.7|       620.0|Completou a Pós-g...|Completou a Facul...|
|  8|5822cb43e0800429b...|2016|            Bezerros|           PE|   16|   F|Não informado|        Parda|     Não|            Bezerros|      PE|                    500.5|                555.2|                    521.8|          372.4|       680.0|            Não sei.|Completou o Ensin...|
|  9|94f7e277f87cd58e1...|2016|        Pouso Alegre|           MG|   24|   M|Não informado|      Amarela|     Não|        Pouso Alegre|      MG|                      0.0|                  0.0|                      0.0|            0.0|         0.0|            Não sei.|Completou o Ensin...|
| 10|3c44449ad09dc6a72...|2016|              Caetés|           PE|   29|   F|Não informado|        Parda|     Não|              Caetés|      PE|                    413.4|                407.9|                    533.9|          419.6|       520.0|       Nunca estudou|Não completou a 4...|
| 11|6f721ecb245bd74ea...|2016|            São Luís|           MA|   17|   F|Não informado|        Parda|     Não|      Paço do Lumiar|      MA|                    503.4|                509.6|                    490.1|          369.9|       580.0|Completou a 8ª sé...|Completou o Ensin...|
| 12|70b1dacb515d1aece...|2016|        Porto Alegre|           RS|   27|   M|Não informado|        Parda|     Não|        Porto Alegre|      RS|                    402.6|                556.9|                    599.0|          464.2|       360.0|Não completou a 4...|Completou o Ensin...|
| 13|8570b9be0b2b629d0...|2016|           Fortaleza|           CE|   19|   F|Não informado|        Parda|     Não|           Fortaleza|      CE|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou a 8ª sé...|Completou a 8ª sé...|
| 14|67a173ad63a2a3f77...|2016|    Caiçara do Norte|           RN|   18|   M|Não informado|        Parda|     Não|         João Câmara|      RN|                    477.8|                462.9|                    511.9|          453.4|       360.0|Não completou a 4...|       Nunca estudou|
| 15|4e17008781ab3d721...|2016|        Campo Grande|           MS|   18|   F|Não informado|        Parda|     Não|        Campo Grande|      MS|                      0.0|                  0.0|                      0.0|            0.0|         0.0|Completou a 8ª sé...|Completou a 8ª sé...|
| 16|6118b53a6c928609d...|2016|   Francisco Beltrão|           PR|   16|   M|Não informado|       Branca|     Não|            Cascavel|      PR|                    561.8|                640.8|                    596.5|          480.4|       720.0|Completou a Facul...|Completou a Pós-g...|
| 17|036bce628d802e0da...|2016|             Bacabal|           MA|   24|   F|Não informado|        Preta|     Não|             Bacabal|      MA|                    474.4|                540.0|                    517.4|          402.4|       460.0|       Nunca estudou|       Nunca estudou|
| 18|e2550a9dbfe4dfa31...|2016|            Bragança|           PA|   20|   M|Não informado|        Parda|     Não|            Bragança|      PA|                    395.5|                425.2|                    569.5|          475.8|       520.0|Completou a 8ª sé...|Completou a 4ª sé...|
| 19|fa8d39d295f07f351...|2016|            Ipatinga|           MG|   21|   F|  Solteiro(a)|        Parda|     Não|            Ipatinga|      MG|                    393.3|                429.6|                      0.0|            0.0|         0.0|Não completou a 4...|Completou a Pós-g...|
+---+--------------------+----+--------------------+-------------+-----+----+-------------+-------------+--------+--------------------+--------+-------------------------+---------------------+-------------------------+---------------+------------+--------------------+--------------------+
only showing top 20 rows

*Analizando os alunos pela inscricao e suas respectivas notas*

In [11]:
nota_alunos = spark.sql('SELECT inscricao, nota_ciencias_da_naturaza, nota_ciencias_humanas, nota_linguagens_e_codigos, nota_matematica, nota_redacao FROM temp_microdados_enem').show()

+--------------------+-------------------------+---------------------+-------------------------+---------------+------------+
|           inscricao|nota_ciencias_da_naturaza|nota_ciencias_humanas|nota_linguagens_e_codigos|nota_matematica|nota_redacao|
+--------------------+-------------------------+---------------------+-------------------------+---------------+------------+
|ed50e8aaa58e7a806...|                    436.3|                495.4|                    581.2|          399.4|       520.0|
|2c3acac4b33ec2b19...|                    474.5|                544.1|                    599.0|          459.8|       580.0|
|f4545f8ccb9ff5c8a...|                      0.0|                  0.0|                      0.0|            0.0|         0.0|
|3d6ec248fef899c41...|                      0.0|                  0.0|                      0.0|            0.0|         0.0|
|bf896ac8d3ecadd6d...|                      0.0|                  0.0|                      0.0|            0.0|         0.0|
|a37c99ec251d4f6e8...|                    439.7|                583.2|                    410.9|          364.5|       620.0|
|63b4e128e9ffe8ab2...|                    420.1|                604.2|                    484.5|          529.2|       560.0|
|2eb189d4912f64b19...|                    619.6|                625.8|                    611.2|          566.7|       620.0|
|5822cb43e0800429b...|                    500.5|                555.2|                    521.8|          372.4|       680.0|
|94f7e277f87cd58e1...|                      0.0|                  0.0|                      0.0|            0.0|         0.0|
|3c44449ad09dc6a72...|                    413.4|                407.9|                    533.9|          419.6|       520.0|
|6f721ecb245bd74ea...|                    503.4|                509.6|                    490.1|          369.9|       580.0|
|70b1dacb515d1aece...|                    402.6|                556.9|                    599.0|          464.2|       360.0|
|8570b9be0b2b629d0...|                      0.0|                  0.0|                      0.0|            0.0|         0.0|
|67a173ad63a2a3f77...|                    477.8|                462.9|                    511.9|          453.4|       360.0|
|4e17008781ab3d721...|                      0.0|                  0.0|                      0.0|            0.0|         0.0|
|6118b53a6c928609d...|                    561.8|                640.8|                    596.5|          480.4|       720.0|
|036bce628d802e0da...|                    474.4|                540.0|                    517.4|          402.4|       460.0|
|e2550a9dbfe4dfa31...|                    395.5|                425.2|                    569.5|          475.8|       520.0|
|fa8d39d295f07f351...|                    393.3|                429.6|                      0.0|            0.0|         0.0|
+--------------------+-------------------------+---------------------+-------------------------+---------------+------------+
only showing top 20 rows

*Obtendo todos os candidatos, pela inscrição, que obtiveram nota maior que 900 na redação*

In [ ]:
spark.sql('SELECT inscricao, nota_redacao FROM temp_microdados_enem WHERE nota_redacao > 900').show()

+--------------------+------------+
|           inscricao|nota_redacao|
+--------------------+------------+
|9ff200dba2915df2a...|       940.0|
|fd01057f860dd5014...|       940.0|
|d17a817abbd7212c5...|       940.0|
|4c29d5913f759e503...|       960.0|
|9465419acaa4e0327...|       920.0|
|41489fd85a5d0cb6e...|       920.0|
|b413685f47b788685...|       920.0|
|6060a50502881ecb6...|       920.0|
|f6571d4e67022ab56...|       940.0|
|8609d64c783ff46d2...|       960.0|
|e3619c5c3046426da...|       920.0|
|3fa935df2cd2998f0...|       920.0|
|c29f7a179a5b14fad...|       920.0|
|dfd9f4c775140f35e...|       960.0|
|89a60686cb361eaeb...|       940.0|
|2eba8bf1425e5f55e...|       920.0|
|ad4b00a1e0350477a...|       920.0|
|be86d87fbe8b8ddc7...|       960.0|
|3c03dcae011410e82...|       920.0|
|24764fc0b7b5f2f62...|       960.0|
+--------------------+------------+
only showing top 20 rows

In [ ]:
spark.sql('SELECT inscricao, municipio_residencia, MAX(nota_linguagens_e_codigos) nota_linguagens_e_codigos FROM temp_microdados_enem GROUP BY inscricao, municipio_residencia').show()

+--------------------+--------------------+-------------------------+
|           inscricao|municipio_residencia|nota_linguagens_e_codigos|
+--------------------+--------------------+-------------------------+
|01522361b60a10655...|               Soure|                    509.6|
|093b76cdac817892e...|               Goiás|                    514.1|
|0bed5ea80bf6e886e...|          Parnamirim|                      0.0|
|10771e954aa01c4b8...|          Camaragibe|                    546.4|
|11615e19c7ceae953...|           Itapipoca|                    450.9|
|1598153cbceba1f24...|              Tururu|                    538.3|
|169baa737313f0938...|São Lourenço da Mata|                    442.3|
|16cf59ae6af1380cd...|              Cuiabá|                      0.0|
|185539e2dcb77f676...|              Manaus|                      0.0|
|1855863f45d635a31...|               Bauru|                    606.9|
|1b829c4c27d91992d...|Santa Tereza de G...|                    579.8|
|1d1d6e120919ee2fd...|           Castanhal|                      0.0|
|20e5f906f018295f6...|            Brasília|                    629.4|
|23c0f070d1396934f...|    Pontes e Lacerda|                    478.9|
|24d174ec63e0051b5...|             Itapevi|                      0.0|
|30c520d09cb385bab...|             Marília|                    582.5|
|31f6aef806892a4fa...|            Alvorada|                    474.5|
|3a189f1bb2c6215dc...|         João Pessoa|                      0.0|
|3ea006af7d4b23553...|            São Luís|                    530.8|
|43a8afeebbcb49c14...|            Milagres|                    438.5|
+--------------------+--------------------+-------------------------+
only showing top 20 rows

*Obtendo a quantidade de inscrito por cidade de cada estado ordenado pela maio quantidade de inscritos para a menor.*

In [52]:
spark.sql('SELECT municipio_residencia, uf_residencia, COUNT(inscricao) FROM temp_microdados_enem GROUP BY municipio_residencia, uf_residencia ORDER BY COUNT(inscricao) DESC').show()

+--------------------+-------------+----------------+
|municipio_residencia|uf_residencia|count(inscricao)|
+--------------------+-------------+----------------+
|           São Paulo|           SP|             565|
|           Fortaleza|           CE|             378|
|      Rio de Janeiro|           RJ|             324|
|            Brasília|           DF|             232|
|            Salvador|           BA|             213|
|              Manaus|           AM|             210|
|            São Luís|           MA|             194|
|      Belo Horizonte|           MG|             170|
|               Belém|           PA|             165|
|             Goiânia|           GO|             145|
|            Curitiba|           PR|             115|
|            Teresina|           PI|             109|
|              Recife|           PE|             103|
|        Campo Grande|           MS|              89|
|         João Pessoa|           PB|              78|
|        Porto Alegre|           RS|              71|
|              Maceió|           AL|              68|
|              Cuiabá|           MT|              67|
|   Juazeiro do Norte|           CE|              65|
|              Palmas|           TO|              56|
+--------------------+-------------+----------------+
only showing top 20 rows

*Obtendo a quantidade de inscritos no estado de Tocantins.*

In [51]:
spark.sql('SELECT count(inscricao) FROM temp_microdados_enem WHERE uf_residencia = "TO"').show()

+----------------+
|count(inscricao)|
+----------------+
|             167|
+----------------+

*Obtendo as maiores notas em nota_linguagens_e_codigos de cada cidade do estado de RJ.*

In [27]:
spark.sql('SELECT uf_residencia, municipio_residencia, MAX(nota_linguagens_e_codigos) nota_linguagens_e_codigos FROM temp_microdados_enem WHERE uf_residencia = "RJ" GROUP BY uf_residencia, municipio_residencia').show()

+-------------+--------------------+-------------------------+
|uf_residencia|municipio_residencia|nota_linguagens_e_codigos|
+-------------+--------------------+-------------------------+
|           RJ|            Quissamã|                    515.0|
|           RJ|         Teresópolis|                    656.3|
|           RJ|           Paracambi|                    589.3|
|           RJ|           Três Rios|                    564.7|
|           RJ|             Itaguaí|                    595.6|
|           RJ|             Niterói|                    655.4|
|           RJ|      Rio de Janeiro|                    731.2|
|           RJ|     Paty do Alferes|                    526.4|
|           RJ|     Arraial do Cabo|                      0.0|
|           RJ| São Pedro da Aldeia|                    633.7|
|           RJ|   Casimiro de Abreu|                      0.0|
|           RJ|          Rio Bonito|                    495.3|
|           RJ|        Belford Roxo|                    633.9|
|           RJ|         Duas Barras|                    494.6|
|           RJ|     Duque de Caxias|                    618.3|
|           RJ|           Nilópolis|                    593.7|
|           RJ|Santo Antônio de ...|                    589.5|
|           RJ|           Sumidouro|                    529.5|
|           RJ|            Sapucaia|                    525.6|
|           RJ|              Paraty|                    576.9|
+-------------+--------------------+-------------------------+
only showing top 20 rows

In [56]:
spark.sql('SELECT uf_residencia, municipio_residencia, max(nota_matematica) FROM temp_microdados_enem WHERE uf_residencia = "CE" GROUP BY uf_residencia, municipio_residencia').show()

+-------------+--------------------+--------------------+
|uf_residencia|municipio_residencia|max(nota_matematica)|
+-------------+--------------------+--------------------+
|           CE|              Iguatu|               549.1|
|           CE|           Ibaretama|               610.9|
|           CE|           Itaitinga|               628.5|
|           CE|      Pires Ferreira|               649.0|
|           CE|           Altaneira|               485.1|
|           CE|             Ubajara|               632.1|
|           CE|         Barroquinha|               547.2|
|           CE|               Ocara|               576.2|
|           CE|            Itapiúna|               461.3|
|           CE|               Jucás|               528.5|
|           CE|             Araripe|               422.9|
|           CE|     Viçosa do Ceará|               597.6|
|           CE|             Aratuba|               425.7|
|           CE|              Fortim|               521.0|
|           CE|         Morada Nova|               644.9|
|           CE|            Cascavel|               800.1|
|           CE|             Eusébio|               626.1|
|           CE|           Fortaleza|               865.5|
|           CE|São Gonçalo do Am...|               518.5|
|           CE|           Bela Cruz|               572.9|
+-------------+--------------------+--------------------+
only showing top 20 rows

*Como podemos ver, a maior nota de matemática é do candidato que reside em Fortaleza.*

In [61]:
spark.sql('SELECT max(nota_matematica) FROM temp_microdados_enem WHERE uf_residencia = "CE" ').show()

+--------------------+
|max(nota_matematica)|
+--------------------+
|               865.5|
+--------------------+